@import 'bourbon/bourbon'; // http://bourbon.io/

@import 'reset'; // responsive grid and media queries
@import 'variables'; // colors, fonts etc...


*, *::after, *::before {
	box-sizing: border-box;
}

html {
  font-family: 'Lato', sans-serif;
}

p {
  font-size: 12px;
  line-height: 18px;
}